*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

/*===========================================Header===========================================*/
header{
    max-width: 100%;
    /* max-width: 1266px; */
    display: flex;
    flex-direction: column;
    align-self: center;
    /* align-items: center; */
    justify-content: space-between;
    margin-bottom: 212px;
    background-image: url("./image/SlideBackground.png");
    background-size: cover;
}

.container{
    margin: 0 150px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-image: url("./image/SlideBackground.png");
    background-size: cover;
}

.navbar{
    display: flex;
    margin-left: 41px;
    flex-direction: row;
    /* width: 1140px; */
    height: 63px;
    margin-top: 42px;
    justify-content: space-between;
    align-items: center;
    align-self: flex-start;
    justify-items: center;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: 191px;
}

.navbar ul li:first-child{
    font-weight: bold;
    color:  #41487F;
}

.navbar ul li{
    color: #8B8B8B;
    line-height: 1.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-decoration: none;
    list-style-type: none;
    font-size: 1rem;
    margin-right: 45px;
    letter-spacing: 0.1em;
}


.btnSlide{
    margin-top: 145px;
}

.contact-button{
    color: #FFFFFF;
    background-color: #FF64AE;
    padding: 14px 41px;
    border: none;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 1.5rem;
    border-radius: 50px;
    width: fit-content;
    margin-left: 7px;
}

.contact-button p{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-align: left;

}

.main-slider{
    /* width: 100%; */
    /* height: 805px; */
    margin-left: 41px;
    background-size: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 145px;
}


.main-slider image{
    max-width: 100%;
}


.slider-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-left: 39px;
    margin-right: 60px;
    /* margin-top: 28px; */
}

.slider-content h1{
    font-size: 3rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 60px;
    padding-bottom: 13px;
}

.slider-content p{
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 1.5rem;
    margin-top: -13px;
}

.more-details-button{
    background-color: #FF64AE;
    padding: 16px 40px;
    border: none;
    border-radius: 50px;
    width: fit-content;
    color: #FFFFFF;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 1.5rem;
    letter-spacing: 0.1em;
    margin-top: 32px;
}

.menu-icon{
    width: 30px;
    display: none;
    margin-top: 40px;
}

.menubar{
    margin-top: -3rem;
    margin-left: auto;
}


.nav-overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
    animation: fadeIn linear 0.2s;
}

.nav-mobile{
    margin-top: 24px;
}
.nav-link{
    color: #333;
    display: block;
    padding: 8px 0px;
    font-size: 1.4rem;
}

.close{
    font-size: 2rem;
    color: brown;
    position: absolute;
    top: 0.8rem;
    right: 1rem;
}

#input-open:checked~.nav-overlay{
    display: block;
}

.nav-check:checked~.nav-wraper{
    transform: translateX(0);
    background-color: #64ff64;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*===========================================Main Service===========================================*/


.main-service{
    margin: -78px 150px 0px 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.service-title span{
    color: #FF64AE;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 1.25px;
}

.sub-title{
    color: #091156;
    font-size: 2.25rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 2.813rem;
    margin-top: 10px;
}

.service-title .desc{
    color: #8B8B8B;
    margin-top: 18px;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.1rem;
    text-align: center;
}



.service-list{
    margin-top: 85px;
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 56px;
    
    /* flex-wrap: wrap; */
}

.service-list image{
    width: 166px;
}

[class^="service-item-"]{
    border: none;
    border-radius: 42px;
    /* background-color: #FF64AE; */
    box-shadow: 0px 25px 50px 25px #F6F7FF;
    padding: 59px 45px 70px 45px;
}


.service-name{
    color: #091156;
    font-size: 1.125rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 22.5px;
    margin-top: 58px;
    margin-bottom: 18px;
}

[class^="service-item-"] p:last-child{
    color: #8B8B8B;
    font-size: 0.875rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.313rem;
    letter-spacing: 0.1em;
}


/*===========================================About us===========================================*/
.aboutus{
    margin: 135px 191px 0px 191px;
    display: flex;
    flex-direction: column;
}


.aboutus span{
    color: #FF64AE;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 20px;
    margin-bottom: 12px;
}

.titleanddesc h1 {
    color: #091156;
    font-size: 2.25rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 2.813rem;
}

.titleanddesc p{
    margin-top: 18px;
    color: #8B8B8B;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5rem;
}
.titleanddesc{
    display: flex;
    flex-direction: column;
    /* margin-right: 50px; */
}

.aboutus-content{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    background-image: url("./image/BackgroundBubble.png");
    /* gap: 100px; */
}

.group-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    margin-top: 55px;
}

.learn-more-button{
    color: #FFFFFF;
    background-color: #FF64AE;
    padding: 16px 45px;
    border: none;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 1.5rem;
    border-radius: 50px;
    letter-spacing: 0.1em;
    width: fit-content;
    box-shadow: 0px 17px 22px 0px #FFEDF6;

}

.watch-video-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 44px;
}

.watch-video-button p{
    margin: 0;
    margin-left: 11px;
    color: #8B8B8B;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5rem;
    letter-spacing: 0.1em;
}

.watch-video-button image{
    box-shadow: 0px 0px 50px 25px #FFFFFF;
    width: 100%;
}

.aboutus-image{
    /* max-width: 100%; */
    width: auto;
    margin-right: -75px;
    margin-top: -65px;
}

/*===========================================Professional Team===========================================*/
.professional-team{
    margin: 75px 191px 0px 191px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
}
.team-title span{
    color: #FF64AE;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 20px;
}

.team-title h1{
    color: #091156;
    font-size: 2.25rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 2.813rem;
    margin-top: 10px;
}

.team-title p{
    margin-top: 5px;
    color: #8B8B8B;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5rem;
    letter-spacing: 0.1em;
    margin-top: 19px;
    margin-bottom: 37px;
}

.list-expert{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    margin-top: 100px;
    column-gap: 10px;
}

[class^="member-"]{
    /* background-color: #FF64AE; */
    border: none;
    border-radius: 42px;
    padding-top: 70px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.member-2{
    box-shadow: 0px 25px 50px 25px #F6F7FF;
    padding: 70px 30px 60px 30px;
    margin: 0px 31px 0px 31px;
}

.expert-job{
    color: #64ff64;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 20px;
    margin-bottom: 14px;
    margin-top: 53px;
}
.expert-name{
    color: #091156;
    font-size: 1.125rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 22.5px;
}


[class^="member-"] p{
    color: #8B8B8B;
    font-size: 0.875rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.313rem;
    margin-top: 20px;
    margin-bottom: 31px;
}

.expert-social{
    margin-top: 42px;
    gap: 25px;
    display: flex;
}


/*===========================================Contact Us===========================================*/

.contact-us{
    margin: 170px 180px 0px 191px;
    display: flex;
    /* max-width: 1200px; */
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    background-image: url("./image/BackgroundBubble2.png");
    background-size: cover;
}

.contact-us span{
    color: #FF64AE;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 20px;
    margin-bottom: 2px;
}

.contact-us h1{
    color: #091156;
    font-size: 2.25rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 2.813rem;
    margin: 16px 0px;
}


.contact-us p{
    color: #8B8B8B;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5rem;
    margin-bottom: 47px;
}


.contact-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: center;
    /* margin-right: auto; */
}

form{
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    /* align-self: flex-end;
    align-items: center;
    justify-content: center; */
    /* margin-right: auto; */
}

form input{
    border: 1px solid #D9DDFE;
    border-radius: 15px;
    padding: 17px 0px 16px 24px;
    margin-bottom: 41px;
    width: 100%;
    margin-right: auto;
    margin-right: 29px;
    max-width: 500px;

    color: #8B8B8B;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5rem;
    margin-top: 0px;
}

.inquiry{
    padding-top: 23px;
    padding-bottom: 200px;
}
.input-name{
    width: 100%;
    display: flex;
    flex-direction: row;
    /* justify-content: flex-start; */
    align-items: center;
    gap: 35px;
    justify-content: space-between;
    align-self: flex-end;
    
}

.firstName, .lastName{
    margin-left: auto;
    margin-right: 0;
    padding-right: 70px;
    max-width: 150px;
    
}


form input p{
    color: #C5C5C5;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5rem;
}

.send-message-button{
    align-self: flex-start;
    margin-bottom: 70px;
    color: #FFFFFF;
    background-color: #FF64AE;
    padding: 17px 50px;
    border: none;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 1.5rem;
    letter-spacing: 0.1em;
    border-radius: 50px;
    width: fit-content;
    margin-top: 15px;
}

/*===========================================Footer===========================================*/

footer{
    background-image: url("./image/FooterBG.png");
    background-size: cover;
    padding-top: 200px;
}

.wrapper{
    margin: 30px 191px 0px 191px;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
}

.bottom-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #D7DBFF;
    margin-bottom: 91px;
}

.content-footer{
    /* display: flex;
    flex-direction: row; */
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-areas: "info-company pages informations";
}


.info-company{
    color: #D7DBFF;
    margin-right: 167px;
}

.footer-p-1{
    margin: 33px 0px 25px 27px;
    font-size: 1rem;
}

.footer-p-2{
    font-family: Poppins;
    font-size: 1rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.1em;
    text-align: left;
    margin-left: 27px;
}

.group-p{
    margin-left: 27px;
}
.footer-p-4{
    text-decoration: underline;
}

.pages{
    margin-left: 20px;
}
.informations{
    margin-left: 70px;
}

.pages, .informations{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-top: -24px;
}

.pages ul, .informations ul{
    display: flex;
    flex-direction: column;
    margin-left: 45px;
}

.informations ul{
    margin-left: 10px;
}


.pages ul li, .informations ul li{
    list-style-image: url("./image/Vector.png");
    color: #D7DBFF;
    line-height: 1.7rem;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.1em;
    text-align: left;
    margin-top: 10px;
}

.pages span, .informations span{
    list-style-type: none;
    font-weight: bolder;
}

.pages ul li:first-child, .informations ul li:first-child{
    margin-bottom: 1.7rem;
    list-style-image: none;
    margin-left: -1rem;
}

.group-p{
    display: flex;
    flex-direction: row;
    gap: 28px;
    margin-bottom: 162px;
}

/* .footer-social image{
    width: 18px;
} */

.footer-social{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2.8rem;
}

.toTopImg{
    position: fixed;
    bottom: 150px;
    right: 230px;
    /* align-self: flex-end;
    margin-bottom: 1rem; */
}

.bottom-footer p{
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5rem;
    letter-spacing: 0.1rem;
}