*{
    margin: 0;
    padding: 0;
}

body{
    /* width: 100%; */
    margin: 0px 185px 0px 185px;
}

/*===========================================Header===========================================*/
header{
    max-width: 100%;
    /* max-width: 1266px; */
    display: flex;
    flex-direction: column;
    align-self: center;
    /* align-items: center; */
    justify-content: space-between;
    margin-bottom: 102px;
    /* background-image: url("./image/SlideBackground.png"); */
}

.container{
    max-width: 1220px;
    margin: 0 115px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    /* background-image: url("./image/SlideBackground.png"); */
}

.navbar{
    display: flex;
    flex-direction: row;
    /* width: 1140px; */
    height: 63px;
    margin-top: 26px;
    justify-content: space-between;
    align-items: center;
    align-self: flex-start;
    justify-items: center;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: 160px;
}

.navbar ul li:first-child{
    font-weight: bold;
    color:  #41487F;
}

ul li{
    color: #8B8B8B;
    line-height: 1.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    list-style-type: none;
    font-size: 0.875rem;
    margin-right: 40px;
}


.btnSlide{
    margin-top: 95px;
}

.contact-button{
    color: #FFFFFF;
    background-color: #FF64AE;
    padding: 9px 30px;
    border: none;
    font-size: 0.9rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 1.5rem;
    border-radius: 50px;
    width: fit-content;
    /* letter-spacing: 10%; */
}

.main-slider{
    /* width: 100%; */
    /* height: 805px; */
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6.5rem;
}

.slider{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.slider-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-left: 33px;
}

.slider-content h1{
    font-size: 2.4rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 3rem;
    margin-bottom: 0.2rem;
    margin-top: -20px;
    
}

.slider-content p{
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 1.2rem;
    letter-spacing: 0.001px;


}

.more-details-button{
    color: #FFFFFF;
    background-color: #FF64AE;
    padding: 12px 34px;
    border: none;
    font-size: 0.9rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 1.5rem;
    border-radius: 50px;
    width: fit-content;
    margin-top: 24px;
    margin-left: 2px;
}



/*===========================================Main Service===========================================*/


.main-service{
    /* margin: 0 150px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.service-title span{
    color: #FF64AE;
    font-size: 0.8rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 20px;
}

.sub-title{
    color: #091156;
    font-size: 1.8rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 2.3rem;
    margin-top: 10px;
}

.service-title .desc{
    color: #8B8B8B;
    margin-top: 10px;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.01px;
    text-align: center;

}

.service-list{
    margin: 0px 117px 0px 117px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 62px;
    gap: 42px;
}

[class^="service-item-"]{
    border: none;
    border-radius: 42px;
    /* background-color: #FF64AE; */
    box-shadow: 0px 25px 50px 25px #F6F7FF;
    padding-top: 50px;
    padding-bottom: 55px;
}


.service-name{
    color: #091156;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 20px;
    margin-top: 45px;
    margin-bottom: 15px;
}

[class^="service-item-"] p:last-child{
    color: #8B8B8B;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.1rem;
}


/*===========================================About us===========================================*/
.aboutus{
    margin: 108px 117px 0px 117px;
    display: flex;
    flex-direction: column;
}

.aboutus span{
    color: #FF64AE;
    font-size: 0.8rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 18px;
    margin-bottom: 6px;
}

.titleanddesc h1 {
    color: #091156;
    font-size: 1.8rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 2.813rem;
}

.titleanddesc p{
    margin-top: 5px;
    color: #8B8B8B;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.25rem;
    margin-bottom: 37px;
}
.titleanddesc{
    display: flex;
    flex-direction: column;
    /* margin-right: 50px; */
}

.aboutus-content{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    background-image: url("./image/BackgroundBubble.png");
    /* gap: 100px; */
}

.group-button{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.learn-more-button{
    color: #FFFFFF;
    background-color: #FF64AE;
    padding: 12px 40px;
    border: none;
    font-size: 0.9rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 1.5rem;
    border-radius: 50px;
    width: fit-content;
}

.watch-video-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 38px;
}

.watch-video-button p{
    margin: 0;
    margin-left: 11px;
    color: #8B8B8B;
    font-size: 0.9rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5rem;
}

.watch-video-button image{
    box-shadow: 0px 0px 50px 25px #FFFFFF;
    width: 100%;
}

.aboutus-image{
    max-width: 100%;
    margin-top: -3rem;
    margin-right: -60px;
}

/*===========================================Professional Team===========================================*/
.professional-team{
    margin: 55px 150px 0px 150px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
}
.team-title span{
    color: #FF64AE;
    font-size: 0.8rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 20px;
}

.team-title h1{
    color: #091156;
    font-size: 1.8rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 2.813rem;
    margin-top: 5px;
}

.team-title p{
    margin-top: 5px;
    color: #8B8B8B;
    font-size: 0.9rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.25rem;
    margin-top: 10px;
    margin-bottom: 37px;
}

.list-expert{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 56px;
    gap: 0px;
}

[class^="member-"]{
    border: none;
    border-radius: 42px;
    padding-top: 70px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.member-2{
    box-shadow: 0px 25px 50px 25px #F6F7FF;
    padding: 70px 66px 60px 66px;
    margin: 0px 58px 0px 58px;
}

.expert-job{
    color: #FF64AE;
    font-size: 0.8rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 20px;
    margin-bottom: 8px;
    margin-top: 43px;
}
.expert-name{
    color: #091156;
    font-size: 0.9rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 22.5px;
}


[class^="member-"] p{
    color: #8B8B8B;
    font-size: 0.8rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.2rem;
    margin-top: 10px;
    margin-bottom: 31px;
}

/*===========================================Contact Us===========================================*/

.contact-us{
    margin: 111px 118px 0px 118px;
    display: flex;
    max-width: 1200px;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    gap: 20px;
    background-image: url("./image/BackgroundBubble2.png");
}

.contact-us span{
    color: #FF64AE;
    font-size: 0.8rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 20px;
    margin-bottom: 2px;
}

.contact-us h1{
    color: #091156;
    font-size: 1.8rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 2rem;
    margin: 11px 0px;
}


.contact-us p{
    color: #8B8B8B;
    font-size: 0.9rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 2rem;
    margin-bottom: 35px;
}

.contact-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: center;
    margin-left: 52px;
    /* margin-right: auto; */
}

form{
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    /* align-self: flex-end;
    align-items: center;
    justify-content: center; */
    /* margin-right: auto; */
}

form input{
    border: 1px solid #D9DDFE;
    border-radius: 15px;
    padding: 16px 0px 16px 20px;
    margin-bottom: 30px;
    width: 100%;
    margin-right: auto;
    /* margin-left: -29px; */
    margin-right: 29px;
    max-width: 394px;
}

.inquiry{
    padding-top: 23px;
    padding-bottom: 165px;
    
}
.input-name{
    width: 100%;
    display: flex;
    flex-direction: row;
    /* justify-content: flex-start; */
    align-items: center;
    gap: 35px;
    justify-content: space-between;
    align-self: flex-end;
    
}

.firstName, .lastName{
    margin-left: auto;
    margin-right: 0;
    padding-right: 80px;
}

form input p{
    color: #C5C5C5;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5rem;
}

.send-message-button{
    align-self: flex-start;
    margin-bottom: 70px;color: #FFFFFF;
    background-color: #FF64AE;
    padding: 11px 45px;
    border: none;
    font-size: 0.9rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 1.5rem;
    border-radius: 50px;
    width: fit-content;
}


/*===========================================Footer===========================================*/

footer{
    background-image: url("./image/FooterBG.png");
    padding-top: 200px;
    margin-top: -20px;
}

.wrapper{
    margin: 0px 117px 0px 117px;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
}

.bottom-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #D7DBFF;
    margin-bottom: 91px;
}

.content-footer{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}
.info-company{
    flex: 2;
}

.info-company{
    color: #D7DBFF;
    margin-right: 167px;
}

.footer-p-1{
    margin: 23px 0px 18px 27px;
    font-size: 1rem;
}

.footer-p-2{
    font-family: Poppins;
    font-size: 0.7rem;
    font-style: italic;
    font-weight: 500;
    line-height: 1.313rem;
    letter-spacing: 0.1em;
    text-align: left;
    margin-left: 27px;
}

.group-p{
    margin-left: 27px;
}
.footer-p-4{
    text-decoration: underline;
}

.pages{
    margin-left: 20px;
}
.informations{
    margin-left: 70px;
}

.pages, .informations{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin-top: -16px;
}

.pages ul, .informations ul{
    display: flex;
    flex-direction: column;
}

.pages ul li, .informations ul li{
    list-style-image: url("./image/Vector.png");
    color: #D7DBFF;
    line-height: 1.7rem;
}

.pages span, .informations span{
    list-style-type: none;
    font-weight: bolder;
}

.pages ul li:first-child, .informations ul li:first-child{
    margin-bottom: 1.2rem;
    list-style-image: none;
    margin-left: -1rem;
}

.group-p{
    display: flex;
    flex-direction: row;
    gap: 28px;
    margin-bottom: 122px;
}

/* .footer-social image{
    width: 18px;
} */

.footer-social{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2.4rem;
}

.toTopImg{
    position: fixed;
    bottom: 170px;
    right: 250px;
    /* align-self: flex-end;
    margin-bottom: 1rem; */
}

.bottom-footer p{
    font-size: 0.8rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.2rem;
    letter-spacing: 0.08rem;
}