/* <740px */
@media only screen and (max-width: 46.1875em) {
    *{
        margin: 0;
        padding: 0;
    }
    .main-menu{
        display: none;
    }

    .menu-icon{
        display: block;
    }


    .navbar image{
        align-self: flex-start;
        margin: 0;
        padding: 0;
    }
    .slider{
        margin: 0;
        padding: 0;
        flex-direction: column;
        margin-top: 2rem;
    }

    .service-list{
        flex-wrap: nowrap;
        flex-direction: column;
        margin-top: 2rem;
    }

    [class^="service-item-"]{
        /* flex-basis: 100%; */
        width: 100%;
    }

    .aboutus-content{
        margin: 0;
        padding: 0;
        flex-direction: column;
        margin-top: 2rem;
    }
    .service-list{
        grid-template-columns: 1fr;
    }
    .main-service {
        width: 100%;
    }

    .aboutus-image{
        max-width: 90vh;
        align-self: center;
    }
    .list-expert{
        margin: 0;
        padding: 0;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 2rem;
    }

    .expert-social{
        flex-direction: row;
        margin-top: 2rem;
    }
    .content-footer{
        flex-direction: column;
        margin-top: 2rem;
    }

    .contact-us{
        margin: 0;
        padding: 0;
        flex-direction: column;
    }

    .contact-title{
        text-align: left;
    }

    .input-name{
        flex-direction: column;
    }

    .content-footer{
        flex-direction: column;
    }

    .pages, .informations{
        margin: 0;
        padding: 0;
    }
    /* .pages ul, .informations ul{
        flex-direction: row;
        margin: 0;
        padding: 0;
    } */
    .about-us{
        margin: 0;
        padding: 0;
    }


    footer{
        background-image: none;
    }
    .toTopImg{
        bottom: 70px;
        right: 50px;
    }

    .content-footer{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "info-company
        pages
        informations";
    }
}