@media (max-width: 767px) {
    *{
        margin: 0;
        padding: 0;
    }
    .main-menu{
        display: none;
    }


    .slider{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        justify-items: center;
        margin-top: 2rem;
    }

    .service-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
    }

    .list-expert{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        margin-top: 2rem;
    }

    .expert-social{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-items: center;
        margin-top: 2rem;
    }
    .content-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        margin-top: 2rem;
    }

    .contact-us{
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }

    .contact-title{
        text-align: left;
    }

    .input-name{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }

    .pages, .informations{
        display: flex;
        flex-direction: row;
    }
    .about-us{
        margin: 0;
        padding: 0;
    }
}