/* >=740 <1024 */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em){
    .service-list{
        grid-template-columns: repeat(2, 1fr);
    }

    .list-expert{
        margin: 0;
        padding: 0;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 2rem;
    }

}