
.aboutus{
    max-width: 71.25rem;
    margin: 0 auto;
    padding-top: 8.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
}


.titleanddesc{
    display: flex;
    flex-direction: column;
    max-width: 55%;
}

.aboutus-image{
    max-width: 45%;
    width: 29.75rem;
    height: 21.875rem;
}

.aboutus-image img{
    /* width: 100%; */
    /* width: 29.75rem;
    height: 21.875rem; */
    margin-left: -4.6rem;
    margin-top: -2rem;
    /* max-width: 100%; */
}




.aboutus span{
    color: #FF64AE;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 1.25rem;
    margin-bottom: 0.75rem;
}


.titleanddesc h1 {
    color: #091156;
    font-size: 2.25rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 2.813rem;
    letter-spacing: 0.003em;
}

.titleanddesc p{
    max-width: 30.188rem;
    margin-top: 1.2rem;
    color: #8B8B8B;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5rem;
    letter-spacing: 0.106em;
}






.group-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    margin-top: 3.25rem;
}

.learn-more-button{
    color: #FFFFFF;
    background-color: #FF64AE;
    padding: 1rem 2.875rem;
    border: none;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 1.5rem;
    border-radius: 3.125rem;
    letter-spacing: 0.1em;
    width: fit-content;
    box-shadow: 0rem 1.063rem 1.375rem 0rem #FFEDF6;

}

.watch-video-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 2.75rem;
}

.watch-video-button p{
    margin: 0;
    margin-left: 1rem;
    color: #8B8B8B;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5rem;
    letter-spacing: 0.1em;
}

.watch-video-button image{
    box-shadow: 0rem 0rem 3.125rem 1.563rem #FFFFFF;
    width: 100%;
    max-width: 100%;
    height: auto;
    flex-basis: 50%;
}


