*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* img {
    max-width: 100%;
    height: auto;
} */


header{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-items: center;
    justify-content: space-between;
    position: relative;
}


.container{
    max-width: 71.25rem;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-items: center;
    /* align-items: center; */
    margin: 0 auto;
    padding-top: 2.563rem;
}


.navbar{
    max-width: 100%;
    max-height: 3.938rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main-logo{
    max-width: 16.125rem;
    max-height: 3.938rem;
    height: 100%;
    object-fit: cover;
    margin: auto 0;
    margin-left: -0.219rem;
    /* box-shadow: 0px 4px 4px 0px #00000040; */
}

.main-logo image{
    margin: auto;
}

.navbar ul {
    max-height: 1.563rem;
    height: 1.563rem;
    display: flex;
    flex-direction: row;
    justify-items: center;
    /* align-items: center; */
    margin-left: 11.8rem;
    max-width: 30.063rem;
    max-height: 1.563rem;
    margin-right: 3.25rem;
}

.navbar ul li{
    color: #8B8B8B;
    line-height: 1.5rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
    list-style-type: none;
    font-size: 1rem;
    letter-spacing: 0.1em;
    max-height: 1.5rem;
}

.navbar ul li:first-child{
    color: #414880;
    margin-right: 2.813rem;
    max-width: 4.125rem;
    font-weight: 600;
    display: flex;
    flex-direction: row;
}


.navbar ul li:first-child span{
    margin-right: 0.313rem;
}

.navbar ul li:nth-child(2){
    margin-right: 2.813rem;
}

.navbar ul li:nth-child(3){
    margin-right: 2.875rem;
}

.navbar ul li:nth-child(4){
    margin-right: 2.813rem;
}


.contact-button{
    color: #FFFFFF;
    background-color: #FF64AE;
    padding: 0.875rem 2.563rem;
    border: none;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 1.5rem;
    border-radius: 3.125rem;
    letter-spacing: 0.1em;
}


.background-top{
    max-width: 80%;
    position: absolute;
    z-index: -20;
    top: 0;
    left: 0;
}