
.professional-team{
    max-width: 67.813rem;
    margin: 0 auto;
    margin-top: 9.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.team-title{
    max-width: 53rem;
}

.team-title span{
    color: #FF64AE;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 1.25rem;
}

.team-title h1{
    color: #091156;
    font-size: 2.25rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 2.813rem;
    margin-top: 0.625rem;
    letter-spacing: 0.011em;
}

.team-title p{
    margin-top: 0.313rem;
    color: #8B8B8B;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5rem;
    letter-spacing: 0.1em;
    margin-top: 1.188rem;
    margin-bottom: 2.313rem;
}



.list-expert{
    /* display: flex;
    flex-direction: row; */
    width: 100%;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    margin-top: 5.5rem;
    gap: 3.75rem;
    max-height: 39.125rem;
}

[class^="member-"]{
    /* background-color: #71ff64; */
    max-width: 16.875rem;
    max-height: 27.438rem;
    border: none;
    border-radius: 2.625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.member-2{
    max-width: 26.5rem;
    width: 26.5rem;
    max-height: 39.125rem;
    box-shadow: 0rem 1.563rem 3.125rem 1.563rem #F6F7FF;
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-color: #FFFFFF;
}

.member-1 .expert-name{
    letter-spacing: 0.015em;
}

.member-1, .member-3{
    padding-top: 0rem;
}


.expert-avt{
    max-width: 9.125rem;
}

.expert-job{
    color: #FF64AE;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 1.25rem;
    margin-bottom: 0.875rem;
    margin-top: 3.313rem;
}
.expert-name{
    color: #091156;
    font-size: 1.125rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 1.406rem;
    margin-bottom: 1.35rem;
}


[class^="member-"] p{
    max-width: 100%;
    color: #8B8B8B;
    font-size: 0.875rem;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.313rem;
    letter-spacing: 0.1em;
    margin-bottom: 2.4rem;
}

.member-2 p{
    max-width: 16.875rem;
    margin-left: 4.813rem;
    margin-right: 4.813rem;
}


.expert-social{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    gap: 0.125rem;
}

.expert-social-img{
    width: 5.063rem;
    height: 5.063rem;
}

.expert-social-img img{
    width: 3.063rem;
    height: 3.063rem;
}
