@media only screen and (max-width: 991px){
    *{
        margin: 0;
        padding: 0;
    }

    header{
        margin-bottom: 5rem;
        max-width: 105rem;
        max-width: 100%;
    }


    .nav-logo{
        width: 40%;
        margin-top: 2rem;
        margin-left: 2rem;
    }
    .menu-icon{
        display: block;
    }
    .container{
        max-width: 100%;
        margin: 0;
        padding: 0;
    }
    .logo{
        display: none;
    }

    .close{
        display: block;
    }
    .slider-content{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }


    .slider-content buttton{
        display: none;
    }

    .main-slider{
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
    }

    .btnSlide{
        margin-top: 2.813rem;
    }

    .more-details-button{
        margin-bottom: 1rem;
    }

    /*===========================================Main Service===========================================*/

    .main-service{
        max-width: 100%;
        margin: 0;
        margin-top: -3.125rem;
    }

    /*===========================================Professional Team===========================================*/

    .professional-team{
        margin: 0;
        margin-top: 3rem;
    }
    .team-title h1{
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .team-title p{
        margin-bottom: 0;
    }

    
    /*===========================================Contact Us===========================================*/
    .contact-us{
        max-width: 100%;
        margin: 0 auto;
        margin-top: 1.25rem;
        padding: 0;
        flex-direction: column;
    }

    .contact-us span{
        text-align: center;
    }

    .contact-content{
        max-width: 100%;
        flex-basis: 100%;
        align-items: center;
        margin: 0 auto;
    }

    /*===========================================Footer===========================================*/

    .footer-container{
        background-size: cover, auto;
        padding-top: 6.25rem;
        background-repeat: no-repeat;
    }

}





