
.main-slider{
    max-width: 71.25rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-top: 9.8rem;
    justify-content: space-between;
}


.slider-content{
    display: flex;
    max-width: 45%;
    flex-direction: column;
    padding-left: 2.3rem;
    padding-top: 3.4rem;
}

.slider-img{
    width: 37.594rem;
    max-height: 24.844rem;
    /* max-width: 55%; */
}

.slider-img img{
    max-width: 37.594rem;
    max-height: 24.844rem;
    max-width: 100%;
}


.slider-content h1{
    color: #091156;
    font-size: 3rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 3.75rem;
    margin-bottom: 0.5rem;
    letter-spacing: 0.036rem;
}

.slider-content p{
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 1.5rem;
    letter-spacing: 0.102em;
    margin-bottom: 2.2em;
}

.more-details-button{
    background-color: #FF64AE;
    padding: 1.023rem 2.5rem 0.941rem 2.563rem;
    border: none;
    border-radius: 3.125rem;
    width: fit-content;
    color: #FFFFFF;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 1.5rem;
    letter-spacing: 0.11em;
}

.btnSlide{
    max-width: 4.438rem;
    margin: 0 auto;
    margin-top: 8.6rem;
}