
.main-slider{
    max-width: 71.25rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    margin-top: 10.1rem;
}


.slider-content{
    display: flex;
    /* max-width: 45%; */
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-left: 3.2rem;
    /* margin-right: 1.2rem; */
    
}

.slider-img{
    /* max-width: 37.594rem; */
    /* max-width: 50%; */
    /* width: 50%; */
    /* max-height: 24.844rem; */
    padding-right: 2.5rem;
}

.slider-img img{
    max-width: 100%;
    width: 100%;
    scale: 1.05;
}


.slider-content h1{
    color: #091156;
    font-size: 3rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 3.75rem;
    margin-bottom: 0.5rem;
}

.slider-content p{
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 1.5rem;
    letter-spacing: 0.1em;
    margin-bottom: 2.2em;
}

.more-details-button{
    background-color: #FF64AE;
    padding: 1.023rem 2.5rem 0.941rem 2.563rem;
    border: none;
    border-radius: 3.125rem;
    width: fit-content;
    color: #FFFFFF;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    line-height: 1.5rem;
    letter-spacing: 0.1em;
}

.btnSlide{
    max-width: 4.438rem;
    margin: 0 auto;
    margin-top: 10.3rem;
}