

@media only screen and (min-width: 992px) and (max-width: 1380px){

    html{
        font-size: 95%;
    }
    body{
        overflow-x: hidden;
    }
    /*===========================================Header===========================================*/
    header{
        max-width: 100%;
    }

    /* .background-top{
        max-width: 90%;
    } */

    .container{
        padding-right: 1%;
        padding-left: 1%;
    }

    .main-logo img{
        max-width: none;
    }
    /* .navbar{
        margin-left: 0;
    } */

    /* .more-details-button{
        margin: 0 auto;
        align-self: center;
    } */
    /*===========================================Navigation===========================================*/

    .navbar{
        max-width: 100%;
        width: 100%;
        /* justify-content: center; */
        /* margin-right: 5%; */
    }
    
    .navbar ul{
        width: 80%;
        margin-right: 10%;
    }


    .navbar ul li:first-child span{
        margin-right: 7%;
    }
    
    .navbar ul li:nth-child(2){
        margin-right: 7%;
    }
    
    .navbar ul li:nth-child(3){
        margin-right: 7%;
    }
    
    .navbar ul li:nth-child(4){
        margin-right: 7%;
    }
    /*===========================================Slider===========================================*/
    .main-slider{
        padding-left: 2%;
        padding-right: 2%;
    }

    /* .slider-img{
        margin: 0;
        max-width: 50%;
        height: auto;
    } */

    .menu-icon{
        margin-left: 1rem;
    }

    .slider-content{
        margin: 0;
        width: 100%;
        padding-right: 3%;
    }

    .sub-title{
        max-width: 100%;
    }

    /* .slider-content{
        text-align: center;
    } */

    /*===========================================Service===========================================*/


    .main-service{
        max-width: 100%;
        margin-left: 5%;
        margin-right: 5%;
    }
    /*===========================================About us===========================================*/



    /* .aboutus span{
        align-self: flex-start;
        margin-left: 3rem;
    } */

    .aboutus-image{
        /* flex-basis: 100%; */
        align-self: center;
        margin: 0 auto;
    }
    .titleanddesc h1{
        text-align: center;
        font-size: 2rem;
    }

    .titleanddesc p{
        margin: 1rem auto;
        text-align: left;
    }
    .aboutus-content{
        margin: 0;
        padding: 0;
        align-items: center;
        justify-items: center;
    }
    .aboutus-image{
        width: 75%;
    }


/*===========================================Professional Team===========================================*/


    .list-expert{
        max-width: 100%;
    }


/*==========================================Contact Us==========================================*/

    .contact-us{
        margin: 0 auto;
        padding-top: 8.8rem ;
        max-width: 71.25rem;
        padding-left: 2%;
        padding-right: 2%;
    }

    .send-message-button{
        font-size: 1rem;
        padding: 1rem 2rem;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }
    .input-name{
        max-width: 100%;
    }

    .contact-animation-image{
        width: 90%;
    }

    /*===========================================Footer===========================================*/

    .footer-container{
        /* max-width: 100%; */
        background-position: top, bottom;
        background-size: cover, contain;
    }

    /* .bottom-footer{
        gap: 15%;
    } */


    .toTopImg{
        display: none;
    }
}
