
@media only screen and (min-width: 90.1rem){

    header{
        width: 100%;
    }
    /*===========================================Background===========================================*/
    .background-top{
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        /* max-width: 100%; */
        width: 100%;
        height: auto;   
        object-fit: contain;
    }
    .background-top-img{
        width: 100%;
    }
        /*===========================================Header===========================================*/
    .container{
        max-width: 71.25rem;
        margin: 0 auto;
    }


    .main-service{
        max-width: 71.25rem;
        margin: 0 auto;
    }

    .wrapper-aboutus{
        background-size: cover;
    }
    .aboutus{
        max-width: 71.25rem;
        margin: 0 auto;
        margin-top: 9.7rem;
    }
    .background-bubble{
        width: 100%;
    }
    .background-bubble-img{
        width: 100%;
    }
    .professional-team{
        max-width: 71.25rem;
        margin: 0 auto;
        margin-top: 4.2rem;
    }

    .contact-us {
        max-width: 71.25rem;
        margin: 0 auto;
        margin-top: 6rem;
    }

    .background-contactus{
        width: 100%;
        object-fit: cover;
    }
    .background-contactus-img{
        width: 100%;
    }
    .wrapper{
        max-width: 71.25rem;
        margin: 0 auto;
        margin-top: -2rem;
    }
    .footer-container{
        /* max-width: 100%; */
        background-position: top, bottom;
        background-size: cover, contain;
    }
}